.btn-primary{
    @extend .btn-primary;
    background-color: rgb(29, 29, 29) !important;
    border: 1px solid black !important;
    &:hover{
      background-color: white !important;
      color: black;
    }
    &:focus{
      box-shadow: 0 0 0 6px #0000002b !important;
    }
  }