$enable-negative-margins: true;
$font-family-base: 'Roboto Mono', monospace;

// $primary: rgb(78, 211, 235);
$primary: rgb(52, 177, 199);
$dark: rgb(30, 40, 60);
$light: #fafafa;

$body-bg: rgba(115, 60, 25, 0.01);
$enable-negative-margins: true;


// scss-docs-start border-radius-variables
$border-radius:               0;
/* $border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default; */