@use 'sass:meta';
@use 'detail-sale' as *;
// -----------------
$enable-negative-margins: true;
$font-family-base: 'Roboto Mono', monospace;





.container-client{
  header nav{
    padding-top: 7rem !important;
    padding-bottom: 3rem !important;
  }
}

@import '../scss-from-bootstrap/bootstrap.scss';
@include meta.load-css("burguer-menu", $with: null);

.btn-primary{
  @extend .btn-primary;
  background-color: rgb(29, 29, 29) !important;
  border: 1px solid black !important;
  &:hover{
    background-color: white !important;
    color: black;
  }
  &:focus{
    box-shadow: 0 0 0 6px #0000002b !important;
  }
}



