@use 'sass:meta';
@use 'variables' as *;
// -----------------

img {
    object-fit: cover;
}

.container-client {
    // por defecto el nav es pequeño
    header nav {

        // borrar esto en produccion y habilitar las lineas de abajo!!!
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        // --------------

        /* padding-top: 6rem !important;
        padding-bottom: 3rem !important; */
        transition: .3s all 0.5s;
    }
    // cuando el scroll es cero engordo el nav
    header nav.scrollDown {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
        
        
    }
}

@import "../scss-from-bootstrap/bootstrap.scss";

// @include meta.load-css("burguer-menu", $with: null);
@include meta.load-css("btn", $with: null);
@include meta.load-css("card-product");
@include meta.load-css("nprogress");
@include meta.load-css("login");
@include meta.load-css("hamburgers.min");
